@font-face { font-family: 'pokemon'; 
    src: url('/assets/fonts/pokemon/Pokemon\ Solid.ttf') format('truetype'); 
    font-weight: normal; 
    font-style: normal; 
}

@font-face { font-family: 'futuralight'; 
    src: url('/assets/fonts/futura/Futura\ Bold.ttf') format('truetype'); 
    font-weight: normal; 
    font-style: normal; 
}

* {
    font-family: 'futuralight';
    box-sizing: border-box;
    letter-spacing: 3px;
    font-size: 20px;
    text-transform: capitalize;
}

body {
    background-color: #f6f8fc;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #fff;
}

h1 {
    font-family: 'pokemon';
    letter-spacing: 5px;
    font-size: 50px;
    position: relative;
    color: transparent; 
    background: linear-gradient(to bottom, rgb(255, 0, 0), rgb(255, 238, 0)); /* Gradiente vertical no texto */
    -webkit-background-clip: text; /* Aplica o gradiente no texto */
    -webkit-text-fill-color: transparent; /* Mantém o texto transparente */
    padding: 0.2em;
    -webkit-text-stroke: 2px black; /* Contorno no texto real (não na sombra) */
}



@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}